@(features: List[Feature])
@import helper._
@main("Add hotel"){
    <div class="container" style="background-color: white">
        <h3>Register your hotel</h3>
        <hr/>
        @helper.form(action = routes.Hotels.insertHotel()) {
            <div class="row">
                <form role="form">
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="InputName">Hotel name:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="name" id="InputName" placeholder="Hotel Name" style="width: 350px" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="location" id="address" placeholder="Address" style="width: 350px">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description">Description:</label>
                            <textarea class="form-control" rows="10" style="width: 350px;resize: none" id="description" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" id="submit" value="Register" class="btn btn-info" onclick="insertHotel()">
                        </div>
                    </div>
                </form>
                <div class="col-md-6">
                    <div id="mapCanvas" class="shrinked-map"></div>
                    <div id="infoPanel" style="display: none">
                        <b>Marker status:</b>
                        <div id="markerStatus"><i>Click and drag the marker.</i></div>
                        <b>Current position:</b>
                        <div id="info"></div>
                        <input id="gLat" name="coordinateX" type="hidden" value="43.8534183">
                        <input id="gLng" name="coordinateY" type="hidden" value="18.37808399999">
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-md-6">
                            <br>
                            <h3>Features</h3>
                            @for(feature <- features){
                            <div>

                                <span>
                                    <input  id="@feature.id" name="@feature.name" type="checkbox"/>
                                    <label for="@feature.name">@feature.name</label>
                                </span>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
}