@(users: List[App_User])
@main("Admin"){
  <div class="container" style="background-color: #204d74">
    <div class="row">
      <div class="col-md-4">
        <br/>
        <a href="@routes.Users.showAdminHotels()">
          <button class="btn-danger" style="width: 100%;height: 200px; font-size: 30px">
            Hotels
          </button>
        </a>

      </div>
      <div class="col-md-4">
        <br/>
        <a href="@routes.Users.showAdminUsers()">
          <button class="btn-success" style="width: 100%;height: 200px; font-size: 30px">
            Users
          </button>
        </a>

      </div>
      <div class="col-md-4">
        <br/>
        <a href="@routes.Users.showAdminFeatures()">
          <button class="btn-primary" style="width: 100%;height: 200px; font-size: 30px">
            Features
          </button>
        </a>
      </div>
    </div>
    <hr/>
  </div>

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      @for(user <- users){

        <tr>
          <td>@user.firstname</td>
          <td>@user.lastname</td>
          <td>@user.email</td>
         @if(user.userTypeId ==6){

          <td>Hotel Manager</td>
          }
          @if(user.userTypeId ==5){

            <td>Seller</td>
          }
          @if(user.userTypeId ==4){

            <td>Buyer</td>
          }
          @if(user.userTypeId ==3){

            <td>Admin</td>
          }



          <td></td>
          <form method="delete" action="@routes.Users.deleteUser(user.email)">
            <td>
              <a href="@routes.Users.deleteUser(user.email)">
                <button class="btn btn-danger">Delete</button>
              </a>
            </td>
          </form>
          <form method="post" action="@routes.Users.setRole(user.email)"  >
          <td>
            @*<select class="form-control" >*@
              @*<option name="usertype"  value="buyer">Buyer</option>*@
              @*<option name="usertype" value="seller">Seller</option>*@
              @*<option name="usertype" value="hotelmanager">Hotel Manager</option>*@
            @*</select>*@
            <button name="usertype" onclick="@routes.Users.setRole(user.email)" value="buyer">Buyer</button>
            <button name="usertype" onclick="@routes.Users.setRole(user.email)" value="seller">Seller</button>
            <button name="usertype" onclick="@routes.Users.setRole(user.email)" value="hotelmanager">Hotel Manager</button>
          </td>

          </form>
        </tr>
      }
      </tbody>
    </table>

  </div>


}