@(hotel: Hotel)
    @main("Hotel") {
        <meta charset="UTF-16">
    <div class="container" style="background-color : #f5e79e">
        <h2 style="text-align : center"> @hotel.name </h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                @if(request().cookies().get("email") != null) {
                    @if(Integer.parseInt(request().cookies().get("userTypeId").value()) == 5) {
                        <a href="@routes.Hotels.editHotel(hotel.id)" ><button class="btn btn-warning">EDIT</button> </a>
                    }
                }
                <hr/>
                <div class="text-center">
                    <img src="http://placehold.it/400x300" class="img-responsive img-thumbnail" alt=""/>
                    <h6 style="text-align : center">Picture description</h6>
                </div>
                <hr/>
                <div>
                    <h5 value="@hotel.location">Hotel Adress:@hotel.location</h5>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h4>Description</h4>
                    <br/>
                    <p>
                    @hotel.description
                    </p>
                </div>
                <hr/>
                <div>
                    <h4>Feature</h4>
                    <ul>
                        <li>Feature1</li>
                        <li>Feature2</li>
                        <li>Feature3</li>
                        <li>Feature4</li>
                        <li>Feature5</li>
                        <li>Feature6</li>
                        <li>Feature7</li>
                        <li>Feature8</li>
                        <li>Feature9</li>
                        <li>Feature10</li>
                        <li>Feature11</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 2%">
                <h6>Map</h6>
                <input id="gLat" name="coordinateX" value=@hotel.coordinateX>
                <input id="gLng" name="coordinateY" value=@hotel.coordinateY>
                <div id="mapCanvas" class="wide-map"></div>
                <div id="infoPanel" style="display : none">
                    <b>Marker status:</b>
                    <div id="markerStatus"><i>Click and drag the marker.</i></div>
                    <b>Current position:</b>
                    <div id="info"></div>
                </div>
                <br/>
            </div>

        </div>
        <div>
            <h3>Comments</h3>
        </div>
        <div class="form-group">
            <div>
                <label>User:</label>
                <label>@request.cookies.get("name").value()</label>
            </div>


            <label for="usr">Title:</label>
            <input type="text" class="form-control" id="usr">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
            <div>
            <button type="button" class="btn btn-success">Post</button>
            </div>
        </div>
        <div class="row">
            @for( i <- 1 to hotel.images.size()){
                <img src="@hotel.images.get(i).getThumbnail">
                }
        </div>
    </div>
}