@(user: App_User)
@main("User profile"){
  <div class="container" style="padding-top: 60px;background-color: white">
    <div class="row">
      <div class="col-md-10">
        <h1 class="page-header"> Edit Profile</h1>
      </div>
      <div class="col-md-2">
        <div class="button">
          <button class="btn btn-danger" style="height:100px">WHAT?</button>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-center">
          <img class="avatar img-circle img-thumbnail" src="http://www.dreveterinary.com/lib/img/placeholder_small.png" alt=""/>
          <h6>Upload a different photo...</h6>
          <input type="file" class="text-center center-block well well-sm">
        </div>
      </div>

          <!-- edit form column -->
        <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
          <h3>Personal info</h3>
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label class="col-lg-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input class="form-control" placeholder="Name" type="text" value="@user.firstname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input class="form-control" placeholder="Last name"  type="text" value="@user.lastname">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input class="form-control" placeholder="example&#example.com" type="text" value="@user.email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Password:</label>
              <div class="col-md-8">
                <input class="form-control" placeholder="Password" type="password">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Confirm password:</label>
              <div class="col-md-8">
                <input class="form-control" placeholder="Retype password" type="password">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">Phone number:</label>
              <div class="col-md-8">
                <input class="form-control" placeholder="+12345678910" type="text" value="@user.phoneNumber">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input class="btn btn-primary" value="Save Changes" type="button">
                <span></span>
                <input class="btn btn-default" value="Cancel" type="reset">
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
}